$arrow-height: $button-medium-arrow-height;
$arrow-width: $button-medium-arrow-width;
$background-color: rgba(77,144,254,1);
$background-color-disabled: $button-default-background-color-disabled;
$background-color-focus: $button-default-background-color-focus;
$background-color-over: rgba(53,122,232,1);
$background-color-pressed: rgba(47,91,183,1);
$background-gradient: $button-default-background-gradient;
$background-gradient-disabled: $button-default-background-gradient-disabled;
$background-gradient-focus: $button-default-background-gradient-focus;
$background-gradient-over: $button-default-background-gradient-over;
$background-gradient-pressed: $button-default-background-gradient-pressed;
$border-color: $button-default-border-color;
$border-color-disabled: $button-default-border-color-disabled;
$border-color-focus: $button-default-border-color-focus;
$border-color-over: $button-default-border-color-over;
$border-color-pressed: $button-default-border-color-pressed;
$border-radius: $button-medium-border-radius;
$border-width: $button-medium-border-width;
$color: $button-default-color;
$color-disabled: $button-default-color-disabled;
$color-focus: $button-default-color-focus;
$color-over: $button-default-color-over;
$color-pressed: $button-default-color-pressed;
$font-family: $button-medium-font-family;
$font-family-disabled: $button-medium-font-family-disabled;
$font-family-focus: $button-medium-font-family-focus;
$font-family-over: $button-medium-font-family-over;
$font-family-pressed: $button-medium-font-family-pressed;
$font-size: $button-medium-font-size;
$font-size-disabled: $button-medium-font-size-disabled;
$font-size-focus: $button-medium-font-size-focus;
$font-size-over: $button-medium-font-size-over;
$font-size-pressed: $button-medium-font-size-pressed;
$font-weight: $button-medium-font-weight;
$font-weight-disabled: $button-medium-font-weight-disabled;
$font-weight-focus: $button-medium-font-weight-focus;
$font-weight-over: $button-medium-font-weight-over;
$font-weight-pressed: $button-medium-font-weight-pressed;
$glyph-color: $button-default-glyph-color;
$glyph-opacity: $button-default-glyph-opacity;
$icon-size: $button-medium-icon-size;
$include-split-noline-arrows: false;
$include-split-over-arrows: $button-include-split-over-arrows;
$include-ui-menu-arrows: $button-include-ui-menu-arrows;
$include-ui-split-arrows: $button-include-ui-split-arrows;
$inner-opacity-disabled: $button-inner-opacity-disabled;
$opacity-disabled: $button-opacity-disabled;
$padding: $button-medium-padding;
$split-height: $button-medium-split-height;
$split-width: $button-medium-split-width;
$text-padding: $button-medium-text-padding;

@include extjs-button-ui($ui:"bluebutton-medium",
$arrow-height: $arrow-height,
$arrow-width: $arrow-width,
$background-color: $background-color,
$background-color-disabled: $background-color-disabled,
$background-color-focus: $background-color-focus,
$background-color-over: $background-color-over,
$background-color-pressed: $background-color-pressed,
$background-gradient: $background-gradient,
$background-gradient-disabled: $background-gradient-disabled,
$background-gradient-focus: $background-gradient-focus,
$background-gradient-over: $background-gradient-over,
$background-gradient-pressed: $background-gradient-pressed,
$border-color: $border-color,
$border-color-disabled: $border-color-disabled,
$border-color-focus: $border-color-focus,
$border-color-over: $border-color-over,
$border-color-pressed: $border-color-pressed,
$border-radius: $border-radius,
$border-width: $border-width,
$color: $color,
$color-disabled: $color-disabled,
$color-focus: $color-focus,
$color-over: $color-over,
$color-pressed: $color-pressed,
$font-family: $font-family,
$font-family-disabled: $font-family-disabled,
$font-family-focus: $font-family-focus,
$font-family-over: $font-family-over,
$font-family-pressed: $font-family-pressed,
$font-size: $font-size,
$font-size-disabled: $font-size-disabled,
$font-size-focus: $font-size-focus,
$font-size-over: $font-size-over,
$font-size-pressed: $font-size-pressed,
$font-weight: $font-weight,
$font-weight-disabled: $font-weight-disabled,
$font-weight-focus: $font-weight-focus,
$font-weight-over: $font-weight-over,
$font-weight-pressed: $font-weight-pressed,
$glyph-color: $glyph-color,
$glyph-opacity: $glyph-opacity,
$icon-size: $icon-size,
$include-split-noline-arrows: $include-split-noline-arrows,
$include-split-over-arrows: $include-split-over-arrows,
$include-ui-menu-arrows: $include-ui-menu-arrows,
$include-ui-split-arrows: $include-ui-split-arrows,
$inner-opacity-disabled: $inner-opacity-disabled,
$opacity-disabled: $opacity-disabled,
$padding: $padding,
$split-height: $split-height,
$split-width: $split-width,
$text-padding: $text-padding);
$ui-background-stretch-bottom: $panel-background-stretch-bottom;
$ui-background-stretch-left: $panel-background-stretch-left;
$ui-background-stretch-right: $panel-background-stretch-right;
$ui-background-stretch-top: $panel-background-stretch-top;
$ui-body-background-color: $panel-body-background-color;
$ui-body-border-color: $panel-body-border-color;
$ui-body-border-style: $panel-body-border-style;
$ui-body-border-width: $panel-body-border-width;
$ui-body-color: $panel-body-color;
$ui-body-font-size: $panel-body-font-size;
$ui-body-font-weight: $panel-body-font-weight;
$ui-border-color: $panel-border-color;
$ui-border-radius: $panel-border-radius;
$ui-border-width: $panel-border-width;
$ui-header-background-color: $panel-header-background-color;
$ui-header-background-gradient: $panel-header-background-gradient;
$ui-header-border-color: $panel-header-border-color;
$ui-header-border-style: $panel-header-border-style;
$ui-header-border-width: $panel-header-border-width;
$ui-header-color: $panel-header-color;
$ui-header-font-family: $panel-header-font-family;
$ui-header-font-size: $panel-header-font-size;
$ui-header-font-weight: $panel-header-font-weight;
$ui-header-glyph-color: $panel-header-glyph-color;
$ui-header-glyph-opacity: $panel-header-glyph-opacity;
$ui-header-icon-background-position: $panel-header-icon-background-position;
$ui-header-icon-height: $panel-header-icon-height;
$ui-header-icon-spacing: $panel-header-icon-spacing;
$ui-header-icon-width: $panel-header-icon-width;
$ui-header-inner-border-color: $panel-header-inner-border-color;
$ui-header-inner-border-width: $panel-header-inner-border-width;
$ui-header-line-height: $panel-header-line-height;
$ui-header-padding: $panel-header-padding;
$ui-header-text-padding: $panel-header-text-padding;
$ui-header-text-transform: $panel-header-text-transform;
$ui-include-border-management-rules: $panel-include-border-management-rules;
$ui-padding: 0;
$ui-tool-background-image: $panel-tool-background-image;
$ui-tool-spacing: $panel-tool-spacing;
$ui-wrap-border-color: $panel-wrap-border-color;
$ui-wrap-border-width: $panel-wrap-border-width;

@include extjs-panel-ui($ui-label:"headerpanelstyle",
$ui-background-stretch-bottom: $ui-background-stretch-bottom,
$ui-background-stretch-left: $ui-background-stretch-left,
$ui-background-stretch-right: $ui-background-stretch-right,
$ui-background-stretch-top: $ui-background-stretch-top,
$ui-body-background-color: $ui-body-background-color,
$ui-body-border-color: $ui-body-border-color,
$ui-body-border-style: $ui-body-border-style,
$ui-body-border-width: $ui-body-border-width,
$ui-body-color: $ui-body-color,
$ui-body-font-size: $ui-body-font-size,
$ui-body-font-weight: $ui-body-font-weight,
$ui-border-color: $ui-border-color,
$ui-border-radius: $ui-border-radius,
$ui-border-width: $ui-border-width,
$ui-header-background-color: $ui-header-background-color,
$ui-header-background-gradient: $ui-header-background-gradient,
$ui-header-border-color: $ui-header-border-color,
$ui-header-border-style: $ui-header-border-style,
$ui-header-border-width: $ui-header-border-width,
$ui-header-color: $ui-header-color,
$ui-header-font-family: $ui-header-font-family,
$ui-header-font-size: $ui-header-font-size,
$ui-header-font-weight: $ui-header-font-weight,
$ui-header-glyph-color: $ui-header-glyph-color,
$ui-header-glyph-opacity: $ui-header-glyph-opacity,
$ui-header-icon-background-position: $ui-header-icon-background-position,
$ui-header-icon-height: $ui-header-icon-height,
$ui-header-icon-spacing: $ui-header-icon-spacing,
$ui-header-icon-width: $ui-header-icon-width,
$ui-header-inner-border-color: $ui-header-inner-border-color,
$ui-header-inner-border-width: $ui-header-inner-border-width,
$ui-header-line-height: $ui-header-line-height,
$ui-header-padding: $ui-header-padding,
$ui-header-text-padding: $ui-header-text-padding,
$ui-header-text-transform: $ui-header-text-transform,
$ui-include-border-management-rules: $ui-include-border-management-rules,
$ui-padding: $ui-padding,
$ui-tool-background-image: $ui-tool-background-image,
$ui-tool-spacing: $ui-tool-spacing,
$ui-wrap-border-color: $ui-wrap-border-color,
$ui-wrap-border-width: $ui-wrap-border-width);

$ui-background-stretch-bottom: $panel-background-stretch-bottom;
$ui-background-stretch-left: $panel-background-stretch-left;
$ui-background-stretch-right: $panel-background-stretch-right;
$ui-background-stretch-top: $panel-background-stretch-top;
$ui-body-background-color: rgba(247,247,247,1);
$ui-body-border-color: rgba(255,255,255,0);
$ui-body-border-style: $panel-body-border-style;
$ui-body-border-width: 0px;
$ui-body-color: $panel-body-color;
$ui-body-font-size: $panel-body-font-size;
$ui-body-font-weight: $panel-body-font-weight;
$ui-border-color: rgba(241,241,241,0);
$ui-border-radius: $panel-border-radius;
$ui-border-width: $panel-border-width;
$ui-header-background-color: $panel-header-background-color;
$ui-header-background-gradient: $panel-header-background-gradient;
$ui-header-border-color: $panel-header-border-color;
$ui-header-border-style: $panel-header-border-style;
$ui-header-border-width: $panel-header-border-width;
$ui-header-color: $panel-header-color;
$ui-header-font-family: $panel-header-font-family;
$ui-header-font-size: $panel-header-font-size;
$ui-header-font-weight: $panel-header-font-weight;
$ui-header-glyph-color: $panel-header-glyph-color;
$ui-header-glyph-opacity: $panel-header-glyph-opacity;
$ui-header-icon-background-position: $panel-header-icon-background-position;
$ui-header-icon-height: $panel-header-icon-height;
$ui-header-icon-spacing: $panel-header-icon-spacing;
$ui-header-icon-width: $panel-header-icon-width;
$ui-header-inner-border-color: $panel-header-inner-border-color;
$ui-header-inner-border-width: $panel-header-inner-border-width;
$ui-header-line-height: $panel-header-line-height;
$ui-header-padding: $panel-header-padding;
$ui-header-text-padding: $panel-header-text-padding;
$ui-header-text-transform: $panel-header-text-transform;
$ui-include-border-management-rules: $panel-include-border-management-rules;
$ui-padding: 0;
$ui-tool-background-image: $panel-tool-background-image;
$ui-tool-spacing: $panel-tool-spacing;
$ui-wrap-border-color: $panel-wrap-border-color;
$ui-wrap-border-width: $panel-wrap-border-width;

@include extjs-panel-ui($ui-label:"loginform",
$ui-background-stretch-bottom: $ui-background-stretch-bottom,
$ui-background-stretch-left: $ui-background-stretch-left,
$ui-background-stretch-right: $ui-background-stretch-right,
$ui-background-stretch-top: $ui-background-stretch-top,
$ui-body-background-color: $ui-body-background-color,
$ui-body-border-color: $ui-body-border-color,
$ui-body-border-style: $ui-body-border-style,
$ui-body-border-width: $ui-body-border-width,
$ui-body-color: $ui-body-color,
$ui-body-font-size: $ui-body-font-size,
$ui-body-font-weight: $ui-body-font-weight,
$ui-border-color: $ui-border-color,
$ui-border-radius: $ui-border-radius,
$ui-border-width: $ui-border-width,
$ui-header-background-color: $ui-header-background-color,
$ui-header-background-gradient: $ui-header-background-gradient,
$ui-header-border-color: $ui-header-border-color,
$ui-header-border-style: $ui-header-border-style,
$ui-header-border-width: $ui-header-border-width,
$ui-header-color: $ui-header-color,
$ui-header-font-family: $ui-header-font-family,
$ui-header-font-size: $ui-header-font-size,
$ui-header-font-weight: $ui-header-font-weight,
$ui-header-glyph-color: $ui-header-glyph-color,
$ui-header-glyph-opacity: $ui-header-glyph-opacity,
$ui-header-icon-background-position: $ui-header-icon-background-position,
$ui-header-icon-height: $ui-header-icon-height,
$ui-header-icon-spacing: $ui-header-icon-spacing,
$ui-header-icon-width: $ui-header-icon-width,
$ui-header-inner-border-color: $ui-header-inner-border-color,
$ui-header-inner-border-width: $ui-header-inner-border-width,
$ui-header-line-height: $ui-header-line-height,
$ui-header-padding: $ui-header-padding,
$ui-header-text-padding: $ui-header-text-padding,
$ui-header-text-transform: $ui-header-text-transform,
$ui-include-border-management-rules: $ui-include-border-management-rules,
$ui-padding: $ui-padding,
$ui-tool-background-image: $ui-tool-background-image,
$ui-tool-spacing: $ui-tool-spacing,
$ui-wrap-border-color: $ui-wrap-border-color,
$ui-wrap-border-width: $ui-wrap-border-width);