$ui-background-stretch-bottom: $panel-background-stretch-bottom;
$ui-background-stretch-left: $panel-background-stretch-left;
$ui-background-stretch-right: $panel-background-stretch-right;
$ui-background-stretch-top: $panel-background-stretch-top;
$ui-body-background-color: rgba(255,135,135,1);
$ui-body-border-color: $panel-body-border-color;
$ui-body-border-style: $panel-body-border-style;
$ui-body-border-width: $panel-body-border-width;
$ui-body-color: rgba(239,9,9,1);
$ui-body-font-size: $panel-body-font-size;
$ui-body-font-weight: $panel-body-font-weight;
$ui-border-color: $panel-border-color;
$ui-border-radius: $panel-border-radius;
$ui-border-width: $panel-border-width;
$ui-header-background-color: rgba(204,21,47,1);
$ui-header-background-gradient: $panel-header-background-gradient;
$ui-header-border-color: $panel-header-border-color;
$ui-header-border-style: $panel-header-border-style;
$ui-header-border-width: $panel-header-border-width;
$ui-header-color: rgba(181,151,151,1);
$ui-header-font-family: $panel-header-font-family;
$ui-header-font-size: $panel-header-font-size;
$ui-header-font-weight: $panel-header-font-weight;
$ui-header-glyph-color: $panel-header-glyph-color;
$ui-header-glyph-opacity: $panel-header-glyph-opacity;
$ui-header-icon-background-position: $panel-header-icon-background-position;
$ui-header-icon-height: $panel-header-icon-height;
$ui-header-icon-spacing: $panel-header-icon-spacing;
$ui-header-icon-width: $panel-header-icon-width;
$ui-header-inner-border-color: $panel-header-inner-border-color;
$ui-header-inner-border-width: $panel-header-inner-border-width;
$ui-header-line-height: $panel-header-line-height;
$ui-header-padding: $panel-header-padding;
$ui-header-text-padding: $panel-header-text-padding;
$ui-header-text-transform: $panel-header-text-transform;
$ui-include-border-management-rules: $panel-include-border-management-rules;
$ui-padding: 0;
$ui-tool-background-image: $panel-tool-background-image;
$ui-tool-spacing: $panel-tool-spacing;
$ui-wrap-border-color: $panel-wrap-border-color;
$ui-wrap-border-width: $panel-wrap-border-width;

@include extjs-panel-ui($ui-label:"newstyle",
$ui-background-stretch-bottom: $ui-background-stretch-bottom,
$ui-background-stretch-left: $ui-background-stretch-left,
$ui-background-stretch-right: $ui-background-stretch-right,
$ui-background-stretch-top: $ui-background-stretch-top,
$ui-body-background-color: $ui-body-background-color,
$ui-body-border-color: $ui-body-border-color,
$ui-body-border-style: $ui-body-border-style,
$ui-body-border-width: $ui-body-border-width,
$ui-body-color: $ui-body-color,
$ui-body-font-size: $ui-body-font-size,
$ui-body-font-weight: $ui-body-font-weight,
$ui-border-color: $ui-border-color,
$ui-border-radius: $ui-border-radius,
$ui-border-width: $ui-border-width,
$ui-header-background-color: $ui-header-background-color,
$ui-header-background-gradient: $ui-header-background-gradient,
$ui-header-border-color: $ui-header-border-color,
$ui-header-border-style: $ui-header-border-style,
$ui-header-border-width: $ui-header-border-width,
$ui-header-color: $ui-header-color,
$ui-header-font-family: $ui-header-font-family,
$ui-header-font-size: $ui-header-font-size,
$ui-header-font-weight: $ui-header-font-weight,
$ui-header-glyph-color: $ui-header-glyph-color,
$ui-header-glyph-opacity: $ui-header-glyph-opacity,
$ui-header-icon-background-position: $ui-header-icon-background-position,
$ui-header-icon-height: $ui-header-icon-height,
$ui-header-icon-spacing: $ui-header-icon-spacing,
$ui-header-icon-width: $ui-header-icon-width,
$ui-header-inner-border-color: $ui-header-inner-border-color,
$ui-header-inner-border-width: $ui-header-inner-border-width,
$ui-header-line-height: $ui-header-line-height,
$ui-header-padding: $ui-header-padding,
$ui-header-text-padding: $ui-header-text-padding,
$ui-header-text-transform: $ui-header-text-transform,
$ui-include-border-management-rules: $ui-include-border-management-rules,
$ui-padding: $ui-padding,
$ui-tool-background-image: $ui-tool-background-image,
$ui-tool-spacing: $ui-tool-spacing,
$ui-wrap-border-color: $ui-wrap-border-color,
$ui-wrap-border-width: $ui-wrap-border-width);