$button-arrow-height: 16px;
$button-arrow-width: 16px;
$button-default-background-color: rgba(77,144,254,1);
$button-default-background-color-focus: rgba(53,122,232,1);
$button-default-background-color-over: rgba(53,122,232,1);
$button-default-background-color-pressed: rgba(47,91,183,1);
$button-default-color: rgba(254,254,254,1);
$button-large-font-weight: bold;
$button-medium-font-weight: bold;
$panel-base-color: rgba(241,241,241,1);
$panel-body-border-color: rgba(241,241,241,1);
$panel-border-color: rgba(241,241,241,1);
$panel-header-background-color: rgba(241,241,241,1);
$panel-header-color: rgba(111,111,111,1);